@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #28223f;
	font-family: Montserrat, sans-serif;
	color: #02899c;
	transition: background 0.2s linear;
}

body.light {
	background-color: #e9e8ed;
	color: #231e39;
}

main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

article {
	background-color: #231e39;
	border-radius: 5px;
	position: relative;
	box-shadow: 5px 8px 20px -10px rgba(0, 0, 0, 0.75);
	width: 380px;
	max-width: 100%;
	text-align: center;
	padding: 20px 20px;
	transition: background 0.2s linear;
}

article.light {
	background-color: rgb(205, 205, 205);
}

article:hover {
	transform: translate(1px, -3px);
}

img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border: 1px solid #0d7a88;
	border-radius: 50%;
	padding: 7px;
	margin: 2px 10px 10px 10px;
}

.user_level {
	text-transform: uppercase;
	color: #231e39;
	background-color: #febb0b;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 10px;
	position: absolute;
}

h1 {
	text-transform: capitalize;
	font-size: x-large;
	font-weight: 600;
	margin: 2px;
}
h2 {
	text-transform: uppercase;
	margin: 5px;
	font-size: 16px !important;
}
h4 {
	margin: 12px 0;
}

.buttons {
	margin: 15px;
	display: flex;
	justify-content: center;
}

button.primary {
	background-color: #03bfcb;
	color: #231e39;
	border: none;
	border-radius: 3px;
	padding: 10px 30px;
	font-size: 1em;
	font-weight: 400;
	margin: 0 5px;
	min-width: 140px;
	overflow: clip;
}

button.primary:hover {
	background-color: #0098a3;
}

button.primary.ghost {
	background-color: transparent;
	color: #0d7a88;
	border: 1px solid;
	position: relative;
	display: inline-block;
}

button.primary.ghost:hover {
	color: #15a0b3;
}

.skills {
	text-align: left;
	font-size: 15px;
	margin-top: 25px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills li {
	border: 1px solid;
	border-radius: 2px;
	display: inline-block;
	padding: 2px 10px;
	margin: 5px;
}

/* dark/light theme toggle start */

.theme-toggle-checkbox {
	position: absolute;
	display: none;
}

.theme-toggle-label {
	background-color: rgba(113, 0, 0, 0.749);
	display: flex;
	gap: 10px;
	padding: 5px 8px;
	border-radius: 30px;
	position: absolute;
	top: 10px;
	right: 10px;
}

.fa-sun {
	color: #febb0b;
}

.fa-moon {
	color: white;
}

.fa-circle {
	position: absolute;
	color: silver;
	transform: scale(1.2);
	transition: transform 0.2s linear;
}

.theme-toggle-checkbox:checked + .theme-toggle-label .fa-circle {
	transform: scale(1.2) translate(21.5px);
}

/* dark/light theme toggle end */
